:root {
    --background-primary1: hsl(263, 55%, 52%);
    --background-primary2: hsl(217, 19%, 35%);
    --background-primary2-50: hsl(217, 19%, 35%, 50%);
    --background-primary3: hsl(219, 29%, 14%);
    --background-neutral1: hsl(0, 0%, 81%);
    --background-neutral1-50: hsl(0, 0%, 81%, 50%);
    --background-neutral2: hsl(210, 46%, 95%);
    --white: white;
    --primary-font: 'Barlow Semi Condensed', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
body {
    background-color: var(--background-neutral2);
}
main {
    margin: 15% 5%;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: auto;
    grid-template-rows: repeat(5, auto);
    grid-template-areas: 
        "user1"
        "user2"
        "user3"
        "user4"
        "user5";
}
.user-testimonial {
    border-radius: 0.5rem;
    padding: 2rem;
}
.one {
    background-color: var(--background-primary1);
    grid-area: user1;
    background-image: url('../images/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-position: top right 10%;
}
.two {
    background-color: var(--background-primary2);
    grid-area: user2;
}
.three {
    background-color: var(--white);
    grid-area: user3;
}
.four {
    background-color: var(--background-primary3);
    grid-area: user4;
}
.five {
    background-color: var(--white);
    grid-area: user5;
}
.profile-details {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 1.5rem;
}
.one .profile-pic {
    border: 3px solid var(--background-neutral1-50);
}
.four .profile-pic {
    border: 3px solid var(--background-primary1);
}
.name, .verified {
    font-size: 1rem;
}
.one .name, .two .name, .four .name {
    color: var(--background-neutral1);
}
.one .verified, .two .verified, .four .verified {
    color: var(--background-neutral1-50);
}
.three .name, .five .name {
    color: var(--background-primary2);
}
.three .verified, .five .verified {
    color: var(--background-primary2-50);
}


/* NEED TO WORK ON RESPONSIVENESS */
/* SOMETHING LIKE GALLERY IN LI TUTE WITH ROW DENSE */


@media (min-width: 600px){
    main {
        margin: 15% 10%;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "user1 user1 user2 user5"
        "user3 user4 user4 user5";
    }

}